@font-face {
  font-family: boxicons;
  font-weight: 400;
  font-style: normal;
  src: url(./boxicons.woff2) format('woff2');
}

.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bxs-right-arrow:before {
  content: "\ee8f"
}

.bxl-html5:before {
  content: "\e940"
}

.bxl-css3:before {
  content: "\e91e"
}

.bxl-javascript:before {
  content: "\e946"
}

.bxl-nodejs:before {
  content: "\e95a"
}

.bxl-vuejs:before {
  content: "\e989"
}

.bxs-sun:before {
  content: "\eebe"
}

.bx-menu-alt-left:before {
  content: "\ef5b"
}

.bx-right-top-arrow-circle:before {
  content: "\ebea"
}

.bx-menu-alt-right:before {
  content: "\eb61"
}

.bxs-moon:before {
  content: "\ee4e"
}

.bxl-github:before {
  content: "\e93a"
}

.bxl-telegram:before {
  content: "\e97b"
}

.bxl-facebook-circle:before {
  content: "\e930"
}

.bxl-twitter:before {
  content: "\e982"
}

.bxl-linkedin-square:before {
  content: "\e94e"
}

.bx-math:before {
  content: "\e99b"
}

.bx-laptop:before {
  content: "\eb2b"
}

.bx-brain:before {
  content: "\e9ff"
}

.bxl-gmail:before {
  content: "\e906"
}

.bx-copyright:before {
  content: "\ea86"
}

.bx-current-location:before {
  content: "\ea90"
}

.bxs-calendar:before {
  content: "\ed00"
}




.bx-code:before {
  content: "\ea68"
}

.bx-code-alt:before {
  content: "\ea69"
}

.bx-code-block:before {
  content: "\ea6a"
}

.bx-code-curly:before {
  content: "\ea6b"
}