@font-face {
    font-family: "Legion";
    src: url(legion.otf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Half Grotesk";
    src: url(grotesk.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
  font-family: "Half Grotesk", sans-serif;
  transition: .3s;
}

*, html {
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  
}

a:hover{
  appearance: none;
  color: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -10vw 10vh;
}

.heading {
  font-size: 22px;
  font-family: "Legion";
}

#loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 2;
}
.wave {
  width: 2.5px;
  height: 40px;
  background: white;
  margin: 10px;
  animation: wave 0.8s alternate infinite;
  border-radius: 20px;
}

.wave:nth-child(1) {
  animation-delay: 0.6s;
}

.wave:nth-child(2) {
  animation-delay: 0.4s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.4s;
}
.wave:nth-child(5) {
  animation-delay: 0.6s;
}


@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  
  100% {
    transform: translateY(-30px);
  }
}

@keyframes shine{
  from {
    filter: brightness(100%);
  }
  
  to {
    filter: brightness(200%);
  }
}

.nav {
  width: 80%;
  height: 65px;
  background: transparent;
  border: 0.5px solid #A7A2A2;
  border-radius: 15px;
  position: fixed;
  top: 40px;
  left: 10%;
  backdrop-filter: blur(5px);
}

.nav img {
  width: 65px;
  height: 65px;
  animation: spin 1.8s alternate 0.8s infinite;
}

@keyframes spin {
  0% {
  transform: translateX(0px) rotateY(0deg);
  
  }
  100% {
    transform: translateX(30px) rotateY(50deg);
  }
}

#intro {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: white;
  text-align: left;
  margin-top: 160px;
}

#intro button {
  display: block;
  margin-top: 30px;
  transform: translateX(-90px);
}

.btn:hover{
  background: #15161C;
  border-color: cornflowerblue;
}

#intro h1, #intro span {
  width: 80%;
  font-size: 35px;
  font-weight: 900!important;
  font-family: "Legion";
  text-align: left;
}

#intro h1 > span{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.grad {
  background: linear-gradient(135deg, rgb(100, 149, 237), rgb(30,144,255), rgb(0,255,255));
  animation: shine 3s alternate 0s infinite;
  filter: brightness(100%);
}

.pill {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 0px solid transparent;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  color: black;
  background: white;
}

.btn {
  width: 100px;
  height: 35px;
  background: transparent;
  border-radius: 3px 3px 0 0;
  border: none;
  border-bottom: 1px solid #A7A2A2;
  color: white;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 10px;
  box-sizing: border-box;
  margin-top: 40px;
}

.container .grad-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#about {
  margin-top: 80px;
}

#about p {
  margin-top: -3px;
}

small {
  font-size: 11px;
}

.note {
  color: #CBCBCB;
  font-size: 12px;
  font-weight: 100;
}

.grad1 {
  background: linear-gradient(135deg, #3570FF, white);
  animation: shine 2s alternate-reverse 0.8s infinite;
}

.project {
  width: 300px;
  min-height: 400px;
  border-radius: 20px;
  background: transparent;
  border: 0.5px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 25px;
  margin-block: 25px;
  box-sizing: border-box;
  text-align: left;
}

.project img {
  border-radius: inherit;
}

.project h3 {
  color: white;
  font-family: "Legion";
  margin-bottom: -5px;
}

.project p {
  color: silver;
  font-size: 13px;
}

.grid {
  width: 300px;
  min-height: 150px;
  display: grid;
  grid-template: repeat(2, 2fr) / repeat(4, 1fr);
  margin-top: 20px;
}

.grid div {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid #39353A;
}

.message {
  width: 300px;
  height: auto;
  border: 0.5px solid silver;
  border-radius: 10px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  padding-block: 20px;
  box-sizing: border-box;
}

.message *:not(button){
  width: 90%;
  margin-left: 5%;
  margin-block: 10px;
  box-sizing: border-box;
}

.message input, .message textarea{
  height: 45px;
  border-radius: 10px;
  background: inherit;
  border: inherit;
  padding-left: 10px;
  color: white;
}

input:focus, textarea:focus {
  outline: 1px solid white;
}


.message textarea {
  height: 150px;
  padding-top: 10px;
}

.message button{
  width: 92%;
  height: 45px;
  margin-left: 4%;
  border-radius: inherit;
  margin-block: 10px;
  font-size: 17px;
  border: none;
  color: black;
  font-weight: 300;
  background: white;
}

.message button:hover {
  outline: 3px solid #C7C7C7A3;
}